<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>

        </title>
    </head>

    <body>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Homepage <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Profile</a>
                    </li>
                  </ul>
                </div>
            </nav>

            <div>
                <h2> Welcome {{user}}! </h2>
            </div>
            
            <a href="">
                <button class="grey" style="height:20px;width:60px"> Logout </button>
            </a>

            <div>
                <h4>About Me</h4>
            
                <form>
                    <label> Phone number: </label>
                    <br>
                    <input type="text"><br>

                    <label> Additional info: </label>
                    <br>
                    <textarea rows="5" cols="50" name="Description"> </textarea>

                    <br>
                    <button type="submit"> Save Changes </button>

                </form>
            </div>

            <h3> List Item for Rent </h3>

            <form method="POST" action="/handleform">
                <label> User: </label>
                <br>
                <input type="text" name="username" value={{username}} readonly><br>

                <label> Item Name: </label>
                <br>
                <input type="text"><br>

                <label> Quantity: </label>
                <br>
                <input type="number" name="Quantity" min="1" value="NONE"><br>

                <label> Description: </label>
                <br>
                <textarea rows="5" cols="50" name="Description"> </textarea>

                <br>
                <button type="submit"> Submit</button>

            </form>


        </div>
    </body>

</html>